.modal-body {
    padding: 20px 40px 20px 40px;
}

.modal-body input {
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}

.modal-body textarea {
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}
